{% layout "layout.liquid" %}
{% block content %}

<div>
    <form action="/dogs/{{dog.id}}?_method=PUT" method="post">
        <fieldset>
            <legend>Edit {{dog.name}}</legend>
            <label>
                Name: <input type="text" name="name" placeholder="enter pet's name" value="{{dog.name}}"/>
            </label>
            <label>
                Age: <input type="number" name="age" placeholder="enter pet's age" value="{{dog.age}}" />
            </label>
            <label>
                Breed: <input type="text" name="breed" placeholder="pet breed" value="{{dog.breed}}"/>
            </label>
            <label>
                Gender: <input type="text" name="gender" placeholder="Male or Female" value="{{dog.gender}}"/>
            </label>
            <label>
                Likes: <input type="text" name="hobbies" placeholder="Details" value="{{dog.hobbies}}"/>
            </label>
            <label>
                ImageURL: <input type="text" name="img" placeholder="Enter Pet Image URL" value="{{dog.img}}"/>
            </label>
        </fieldset>
        <input type="submit" value="Update Pet"/>
    </form>


</div>



{% endblock %}